<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- Compiled and minified Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/public/assets/css/burger-style.css" />
    <title>Yummy burger Menu</title>
</head>

<body>
    <img src="/public/assets/images/burger-logo.png" width="400px" id="burger">

    {{{ body }}}

    <footer class="burgerFooter">
        <div class="footer-copyright">
            <div class="container">
                <span class="grey-text text-lighten-4">@ Johnny Zavala</span>
            </div>
        </div>
    </footer>
</body>

</html>